[Unit]
Description=A minimal Gemini server written in Go
After=network.target

[Service]
User=gemini
Group=gemini
Type=simple
ExecStart=/opt/gemini/titan2 -hostname dailybuild.org -dir /opt/gemini/gemini -crt /opt/gemini/certs/crt.pem -key /opt/gemini/certs/key.pem -port 1965

[Install]
WantedBy=multi-user.target
